<!DOCTYPE html>
<html lang="en">
<!-- Bookmarks is for the buyer/renter only see it if you are logged in design accordingly-->
<!-- Can copy this section into each page-->

<head>
    <meta charset="UTF-8">
    <!-- I think i place my style link in here to link to my style.css file??-->
    <link rel="stylesheet" href="css/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Favourites </title>
</head>

<body>

    <!-- Constant Navbar across all sites -->
    <nav class="navbar navbar-expand-md navbar-dark Color-tone">
        <div class="container-fluid">

            <!-- Name of the company -->
            <a class="navbar-brand" href="index.html">NestMates</a>

            <!-- Hamburger Menu -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarContent">

                <!-- Nav links -->
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="listing.html">Listings</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookmarks.html">Favourites</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                </ul>

                <!-- Search button -->
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-light me-2" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>

    <!-- The section for my favourites cards-->
    <div class="container mt-4">
        <h2 class="border-bottom px-4">Your Favourites</h2>
    </div>
    <div class="container mt-4">
        <div class="row g-3">

            <!-- Card -->
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm">
                    <div class="position-relative">
                        <img src="img/House1.jpg" class="card-img-top" alt="Property">

                        <!-- Favourite button -->
                        <button class="btn btn-light position-absolute top-0 end-0 m-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                            </svg>

                        </button>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Brisbane apartment – $250/week</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam sapiente excepturi impedit autem alias at. Rerum voluptas quisquam voluptatem sapiente impedit, dolorem cupiditate libero incidunt sint hic possimus delectus nemo?</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-outline-primary">View</button>
                            <small class="text-muted">2 bed 1 bath</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm">
                    <div class="position-relative">
                        <img src="img/House2.jpg" class="card-img-top" alt="Property">

                        <!-- Favourite button -->
                        <button class="btn btn-light position-absolute top-0 end-0 m-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                            </svg>

                        </button>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Brisbane apartment – $250/week</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam sapiente excepturi impedit autem alias at. Rerum voluptas quisquam voluptatem sapiente impedit, dolorem cupiditate libero incidunt sint hic possimus delectus nemo?</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-outline-primary">View</button>
                            <small class="text-muted">2 bed 1 bath</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm">
                    <div class="position-relative">
                        <img src="img/House3.jpg" class="card-img-top" alt="Property">

                        <!-- Favourite button -->
                        <button class="btn btn-light position-absolute top-0 end-0 m-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                            </svg>

                        </button>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Brisbane apartment – $250/week</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam sapiente excepturi impedit autem alias at. Rerum voluptas quisquam voluptatem sapiente impedit, dolorem cupiditate libero incidunt sint hic possimus delectus nemo?</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-outline-primary">View</button>
                            <small class="text-muted">2 bed 1 bath</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm">
                    <div class="position-relative">
                        <img src="img/apartment.jpg" class="card-img-top" alt="Property">

                        <!-- Favourite button -->
                        <button class="btn btn-light position-absolute top-0 end-0 m-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                            </svg>

                        </button>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Brisbane apartment – $250/week</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam sapiente excepturi impedit autem alias at. Rerum voluptas quisquam voluptatem sapiente impedit, dolorem cupiditate libero incidunt sint hic possimus delectus nemo?</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-outline-primary">View</button>
                            <small class="text-muted">2 bed 1 bath</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm">
                    <div class="position-relative">
                        <img src="img/grannyflathome.jpg" class="card-img-top" alt="Property">

                        <!-- Favourite button -->
                        <button class="btn btn-light position-absolute top-0 end-0 m-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                            </svg>

                        </button>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Brisbane apartment – $250/week</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam sapiente excepturi impedit autem alias at. Rerum voluptas quisquam voluptatem sapiente impedit, dolorem cupiditate libero incidunt sint hic possimus delectus nemo?</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-outline-primary">View</button>
                            <small class="text-muted">2 bed 1 bath</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--Footer from other the other sites to keep consistency-->
    <footer class="bg-light mt-5 py-4">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h5>NestMates</h5>
                    <p class="text-muted mb-0">Find your perfect housemate.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-1">Author: Omar Thompson</p>
                    <a href="#">
                        Report A Bug
                    </a>
                </div>
            </div>
            <div class="text-center mt-3 text-muted small">
                2026 NestMates
            </div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>


</html>