{% extends "base.html" %}

{% block content %}

    <form method="POST">

        <input name="address" placeholder="Address" required>
        <input name="suburb" placeholder="Suburb">
        <input name="state" placeholder="State">

        <input name="bedrooms" type="number" placeholder="Bedrooms">
        <input name="bathrooms" type="number" placeholder="Bathrooms">
        <label>
            <input type="checkbox" name="pet_friendly">
            Pet Friendly
        </label>
        <input name="lifestyle_type" placeholder="Lifestyle Type">
        <input name="property_type" placeholder="Property Type">
        <input name="image_url" placeholder="Image URL">

        <button type="submit">Create Property</button>

    </form>

{% endblock %}