{% extends "base.html" %}
{% block title %}Home - NestMates{% endblock %}

{% block content %}

<!-- Hero image -->
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size: 50px">NESTMATE</h1>
        <p>Welcome! Find new homes and create long lasting friendships</p>
    </div>
</div>


<!-- These are the potential housemates/profiles -->
<h2 class="pb-2 border-bottom px-4 mt-4">
    Nesters
</h2>

<!-- Place filtering here -->
<form method="GET" class="row g-3 mb-4">

    {{ form.hidden_tag() }}

    <div class="col-md-6">
        {{ form.min_price.label }} {{ form.min_price(class="form-control") }}
    </div>

    <div class="col-md-6">
        {{ form.max_price.label }} {{ form.max_price(class="form-control") }}
    </div>

    <div class="col-md-3">
        {{ form.bedrooms.label }} {{ form.bedrooms(class="form-select") }}
    </div>

    <div class="col-md-3">
        {{ form.bathrooms.label }} {{ form.bathrooms(class="form-select") }}
    </div>

    <div class="col-md-3">
        {{ form.pet.label }} {{ form.pet(class="form-select") }}
    </div>

    <div class="col-md-3">
        {{ form.gender.label }} {{ form.gender(class="form-select") }}
    </div>

    <div class="col-md-3">
        {{ form.lifestyle.label }} {{ form.lifestyle(class="form-select") }}
    </div>

    <div class="col-md-3">
        {{ form.bills.label }} {{ form.bills(class="form-select") }}
    </div>

    <div class="col-12 d-flex gap-2">
        <button class="btn btn-primary flex-grow-1" type="submit">
            Apply Filters
        </button>

        <a href="{{ url_for('home') }}" class="btn btn-outline-secondary">
            Clear
        </a>
    </div>

</form>

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <!-- Start my public listings here -->
    {% for listing in listings %}
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
            style="background-image: url('{{ url_for('static', filename='img/' + listing.image_url) }}');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    {{ listing.title }} - ${{ listing.weekly_price }}p/w
                </h2>
                <p>
                    {{ listing.description }}
                </p>
                <a href="{{ url_for('property_details', listing_id=listing.listing_id) }}" class="btn btn-light btn-sm mt-auto w-50">
                    View Details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}