{% extends "base.html" %}

{% block content %}

    <form method="POST">
        <input type="text" name="full_name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <select name="role" required>
            <option value="">Select User Type</option>
            <option value="sharer">Sharer</option>
            <option value="seeker">Seeker</option>
        </select>

        <button type="submit">Register</button>
    </form>

{% endblock %}